.nav-sidebar {
  width: 100%;
  height: 100%;

  z-index: 1;

  border-radius: 10px 0px 0px 10px;
  border-right: 1px solid #747575;
  background-color: #8f9091;

  user-select: none;
}

.nav-sidebar-logo {
  width: 150px;
  height: auto;
  margin: 0px 0px 0px 8px;
}

.nav-list {
  margin-top: 30px;
  color: white;
  font-size: 14px;
  font-weight: 200;
  letter-spacing: 1px;
  overflow-y: auto;
  height: calc(100% - 100px);
}

.systems-section {
  border-bottom: 1px solid #bfbfbf;
  border-top: 1px solid #bfbfbf;
}

.controls-section {
  margin-top: 10px;
}

.nav-list-item {
  padding: 3px;
  padding-left: 10px;
  display: flex;
  justify-content: space-between;
}

.nav-list-item.selected {
  border-left: 2px solid white;
  padding-left: 8px;
}

.nav-icon-right {
  margin-top: 4px;
  padding-left: 7px;
  display: inline;
}

.nav-icon-left {
  padding-right: 9px;
  display: inline;
}

.nav-text-truncate {
  width: 100%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.system-list-item {
  padding: 2px;
  padding-left: 20px;
}

.system-list-item.selected {
  border-left: 2px solid white;
  padding-left: 18px;
}

.clickable-nav-item {
  cursor: pointer;
}

.clickable-nav-item:hover {
  background-color: grey;
}

.nav-list-control-item {
  padding: 3px;
  padding-left: 10px;
}
