.custom-panel {
	border-color: #dadada;
	color: #424B54;
}

.custom-panel .panel-heading {
	background-color: #dadada;
	font-size: 14px;
	font-weight: bold;
	color: #424B54;
}

.login-panel {
	width: 450px;
	margin: 50px auto;
}

@media only screen and (max-width: 475px) {
    .login-panel {
        width: 90%;
    }
}