.custom-table {
  border-radius: 0px;
  width: 100%;
  color: #424B54;
  font-size: 16px;
}

.custom-table tbody {
  border-bottom: 1px solid #ddd;
}

.custom-table-heading {
  background-color: #dadada;
  border: none;
}

.custom-table-heading-cell {
  text-align: center;
  padding: 10px;
  border: none !important;
}

.custom-table-row:hover {
  cursor: pointer;
}

.table-hover-color:hover{
  background-color: #dadada;
}

.custom-table-cell {
  text-align: center;
}