.zone-detail-modal {
	margin-top: 60px;
}

@media screen and (max-height: 585px) {
	.zone-detail-modal {
		margin-top: 0px;
	}
}

.zone-detail-header {
	background-color: #dadada;
	border-radius: 5px 5px 0px 0px;
	padding: 8px 15px;
}

.zone-detail-header h4 {
	display: inline;
	font-size: 24px;
}

.occupied-status-display {
	float: right;
	display: inline;
	margin-right: 20px;
	margin-top: 4px;

	font-size: 18px;
	font-weight: 100;
	color: #93A8AC;
}

.occupied-highlight {
	display: inline;
	color: #55aedc;
}

.zone-detail-body {
	padding: 15px;
}

.temp-display p {
	font-size: 64px;
}

.temp-control-container {
  width: 98%;
}

.temp-control {
	margin: 5px;
	margin-bottom: 50px;
}

.temp-control h3 {
	font-size: 20px;
}

/* Custom css rules override defaults for slider component */
.temp-control .input-range {
	height: 23px;
}

.temp-control .input-range__track {
	height: 8px;
}

.temp-control .input-range__slider {
	background-color: #278DFF;
	border-color: #278DFF;
	width: 15px;
	height: 15px;
	top: -6px;
	box-shadow: 0px 3px 2px -1px rgba(0,0,0,0.75);
}

.temp-control .input-range__label {
	font-size: 12px;
}

.temp-control .input-range__label--value {
	top: -27px;
}

.input-range__slider-container:first-of-type .input-range__slider {
	background-color: #F54652;
	border-color: #F54652;
}

.input-range__track--active {
	background: linear-gradient(to right, #f54652 0%,#278dff 100%);
}

