html {
	height: 100%;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;

  background-color: #c6eaff
}

@media screen and (min-width: 645px) {
  body {
    overflow-x: hidden;
  }
}

.bold {
	font-weight: bold;
}

.greyscale {
	filter: grayscale(100%);
}